.root {
    -fx-base: whitesmoke;
}

.label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 15px;
}

.to-label{
    -fx-text-fill: #2c3e50;
    -fx-font-size: 20px;
}

.header {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
}

.vbox {
    -fx-background-color: #f4f9f4;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-color: #b3ccb3;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.vbox .label {
    -fx-text-fill: #228b22;
    -fx-font-size: 16px;
}

.chart-series-line.custom-series {
    -fx-stroke: #228b22; /* Replace with your desired color */
}

.vbox .header {
    -fx-text-fill: #006400;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.nav-button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
}

.nav-button:hover {
    -fx-background-color: #2ecc71;
}

.date-picker {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
}

.line-chart {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
}
