.Forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Forum label {
    margin-right: 5px;
  }
  
  .Forum button {
    margin-top: 10px;
  }
  